<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Submenuid:</strong>
  <%= @item.submenuId %>
</p>

<p>
  <strong>Restaurantid:</strong>
  <%= @item.restaurantId %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', submenu_path(@item.submenuId) %>
